#wrapper {
    display: grid;
    justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
    grid-template-columns:  12.5% 12.5% 25% 25% 12.5% 12.5%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas:
    "header header header header header header"

    "... ... content content ... ..."

    "... ... content content ... ..."

    "... ... content content ... ..."

    "... ... content content ... ..."

    "... ... content content ... ..."
    
    "... ... content content ... ..."

    "footer footer footer footer footer footer"

}
.container {
    width: auto;
}
h2 {
    font-family: 'Poller One', cursive;
    width: 500px;
    height: 50px;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 19px;
}

h3 {
    font-family: 'Poller One', cursive;
}

.selected {
    font: 14px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header {
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: 260px;
    grid-area: header;
}

#navigation {
    margin-top: 50px;
    margin-left: 32%;
}

#logo {
    margin-top: 50px;
    margin-left: 36%;
}

.selected {
    margin-right: 30px;
}

#background {
    background-image: url(./cp1-images/the-beacon.jpg);
    height: 554px;
    color: white;
}

#beacontext {
    display: inline-block;
}

section {
    margin-left: 50%;
    padding-top: 60px;
}

.spans {
    height: 40px;
    margin-top: 20px;
}

.textsize {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37,37,37);
    padding: 10px 20px 10px 20px;

}

#blogLink {
    height: 50px;
    width: 160px;
    background-color: rgb(11,163,156);
    padding-top: 25px;
    margin-top: 20px;
}

.singleBlogLink {
    height: 15px;
    width: 145px;
    background-color: black;
    padding-top: 3px;
    padding-bottom: 17px;
    margin-top: 20px;
    margin-left: 36%;
    display: flex;
    justify-content: center;
}

.postLink {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 800;
}

.postLink:link {
    text-decoration: none;
}

#first {
    padding: 28px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

#minigallery {
    display: flex;
    justify-content: center;
}

#mini {
    margin-right: 20px;
    margin-top: 30px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

#captions {
    display: flex;
    margin-left: 20%;
    margin-bottom: 40px;
}

#caption2 {
    margin-left: 16%;
}
#caption3 {
    margin-left: 18%;
}

.icons {
    font-size: 25px;
    color: white;
}

.iconBox {
    position: relative;
    width: 35px;
    height:35px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    text-align: center;
    margin-top: 6px;
    padding-top: 6px;
    margin-right: 20px;
}

#title {
    width: 580px;
    height: 60px;
    background-color: rgb(37,37,37);
    color: white;
    text-align: center;
    margin-left: 4%;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: 'Poller One', cursive;
}

#photographer {
    width: auto;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#firstText {
    text-align: center;
}

#secondText {
    text-align: center;
}

#thirdText {
    text-align: center;
}

#fourthText {
    text-align: center;
}

footer {
    grid-area: footer;
}

#content {
    grid-area: content;
    width: 620px;
    margin-bottom: 30px;
}

h1 {
    padding-top: 12px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
/*.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: white;
    color: black;
  }

.iconbox:hover  .overlay{
    opacity: 1;
}

.icons:hover {
    color: black;
}*/

#footerIcons {
    display: flex;
    margin-left: 35%;
    margin-top:35px;
}

footer {
    display: flex;
    background-color: rgb(37,37,37);
    height: 120px;
}

#footerText {
    color: white;
    margin-left: 13%;
    margin-top: 50px;
}

.selected:link {
    text-decoration: none;
}

#first:link {
    text-decoration: none;   
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
  }
  
  .column {
    flex: 25%;
    max-width: 24%;
  }

  .column .imageContainer img {
    vertical-align: middle;
    width: 100%;
  }

  .imageContainer {
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-bottom: 18px;
    margin-right: 18px;
  }

  #galleryTitle {
    width: 250px;
    height: 60px;
    background-color: rgb(37,37,37);
    color: white;
    text-align: center;
    margin-left: 40%;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: 'Poller One', cursive;
}

#gallerySingleTitle {
    width: 540px;
    height: 60px;
    background-color: rgb(37,37,37);
    color: white;
    text-align: center;
    margin-left: 29%;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: 'Poller One', cursive;
}

#blogTitle {
    width: 180px;
    height: 60px;
    background-color: rgb(37,37,37);
    color: white;
    text-align: center;
    margin-left: 43%;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: 'Poller One', cursive;
}

#singleBlogTitle {
    width: 460px;
    height: 60px;
    background-color: rgb(37,37,37);
    color: white;
    text-align: center;
    margin-left: 32%;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: 'Poller One', cursive;
}

#contactTitle {
    width: 520px;
    height: 60px;
    background-color: rgb(37,37,37);
    color: white;
    text-align: center;
    margin-left: 30%;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: 'Poller One', cursive;
}

#proper {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: white;
    font-size: 23px;
    margin-top: 25px;
    padding-top: 7px;
}

#primand {
    text-align: center;
    width: 290px;
    height: 45px;
    background-color: rgb(37,37,37);
    margin-left: 38%;
}

#primContainer {
    margin-left: 26%;
}

#properText {
    width: 580px;
    font-size: 14px;
    margin-left: 27%;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

.blogContainer {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding-top: 0px;
    margin-bottom: 15px;
}

.blogText {
    width: 55%;
    border-left: solid black 2px;
    padding-top: 30px;
}

.whyText {
    font-size: 13px;
    text-align: center;
}

.why {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

#lastBlog {
    margin-bottom: 40px;
}

#singlepic {
    margin-left: 15%;
    margin-right: 14%;
    height: 295px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    
}

.singleBlog {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

.singleText {
    font-size: 13px;
    text-align: center;
    margin-left: 30%;
    margin-right: 31%;
    margin-bottom: 50px;
}

.linktext:link {
    color: black;
}

.linktext:hover {
    color: dimgrey;
}

.imageHover {
    opacity: 0.8;
}

.imageHover:hover {
    opacity: 1;
}

.singleBlogLink:hover {
    background-color: blue;
}

#blogLink:hover {
    background-color: dodgerblue;
}

.iconBox:hover {
    background-color: blue;
}

.selected:hover {
    color: rgb(11,163,156);
}

.field {
    width: 46%;
    padding-top: 20px;
    font-size: 17px;
    margin-left: 26%;
}

.fields {
    height: 60px;
    margin-bottom: 45px;
}

input:placeholder-shown {
    text-align: center;
    padding-bottom: 20px;
    border-color: black;
  }

  #message {
      height: 180px;
  }


  #messageField {
      margin-bottom: 45px;
  }

  button {
      height: 75px;
      width: 105px;
      margin-left: 45%;
      margin-bottom: 55px;
      background-color: black;
      color: white;
      font-weight: 900;
      font-size: 15px;
  }

  @media (max-width: 1024px) {
      body {
          background-color: blue;
      }

      .container {
          width: 798px;
      }

      section {
        margin-left: 0%;
        padding-top: 60px;
    }

    #captions {
        margin-left: 8%;
        margin-bottom: 40px;
    }
    #wrapper {
        display: grid;
        justify-content: center;
        width: auto;
        height: auto;
        margin: auto;
        grid-template-columns: 12.5% 37.5% 37.5% 12.5%;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-template-areas:
        "header header header header"
    
        "... content content ..."
    
        "... content content ..."
    
        "... content content ..."
    
        "... content content ..."
    
        "... content content ..."
        
        "... content content ..."
    
        "footer footer footer footer"
    
    }
    .column {
        flex: 50%;
        max-width: 48%;
      }

  }

  @media (max-width: 879px) {
      body {
          background-color: cyan;
      }

      .container {
          width: 500px;
      }
      
      #background {
          height: auto;
      }

      #beacontext {
        justify-content: space-evenly;
    }

    #minigallery {
        display: inline-block;
    }

    footer {
        display: inline-block;
        height: auto;
    }

    #captions {
        display: inline-block;
    }
    #wrapper {
        display: grid;
        justify-content: center;
        width: auto;
        height: auto;
        margin: auto;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-template-areas:
        "header header"
    
        "content content"
    
        "content content"
    
        "content content"
    
        "content content"
    
        "content content"
        
        "content content"
    
        "footer footer"
    
    }
    .column {
        flex: 100%;
        max-width: 100%;
      }
    
    .field {
        margin-left: 0%:
    }
    button {
        margin-left: 0%;
    }
    #primand {
        text-align: center;
        width: auto;
        height: auto;
        background-color: rgb(37,37,37);
        margin-left: 0%;
    }

    #primContainer {
        margin-left: 0%;
    }

    #properText {
        width: auto;
        font-size: 14px;
        margin-left: 0%;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 50px;
    }

    .blogContainer {
        margin-left: 0%;
        margin-right: 0%;
        display: inline-block;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        padding-top: 0px;
        margin-bottom: 15px;
    }

    #content {
        width: auto;
    }
  }
